<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967117906115-gkffq8usqhssdkpjnsrd6e59n5ec90tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967117906115-gkffq8usqhssdkpjnsrd6e59n5ec90tn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>967117906115-aqo6ded4ct5dumned2vf8a1nduga21od.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuo9gCbihOYOcHXDCefhy-HDPPzEXMqG8</string>
	<key>GCM_SENDER_ID</key>
	<string>967117906115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.fluttermobile</string>
	<key>PROJECT_ID</key>
	<string>blup-cb3c6</string>
	<key>STORAGE_BUCKET</key>
	<string>blup-cb3c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967117906115:ios:9b659d329d13939e020276</string>
</dict>
</plist>